.update-form {
  display: none;
}
.bar-sports {
  display: none;
}
.live-entertainment {
  display: none;
}
.games {
  display: none;
}
.pool-number-tables {
  display: none;
}
.ping-pong-number-tables {
  display: none;
}
.darts-number-tables {
  display: none;
}
.cornhole-number-tables {
  display: none;
}
.foosball-number-tables {
  display: none;
}
.shuffleboard-number-tables {
  display: none;
}
/*Cost Divs*/
.pool-cost {
  display: none;
}
.ping-pong-cost {
  display: none;
}
.darts-cost {
  display: none;
}
.cornhole-cost {
  display: none;
}
.foosball-cost {
  display: none;
}
.shuffleboard-cost {
  display: none;
}
