.thank-you-message {
  display: none;
}
.update-form {
  display: none;
}
.bar-sports {
  display: none;
}
.live-entertainment {
  display: none;
}
.games {
  display: none;
}
.bar-sports-type-section {
  display: none;
}
.games-type-section {
  display: none;
}
