.failed-search {
  display: none;
}
#map {
  height: 650px;
  width: 100%;
}
.mapNav {
  min-height: 50px;
  padding: 0px;
  background-color: #343a40;
}
.mapNav img {
  width: 15px;
  height: 22px;
}
.map-nav-item {
  display: inline-block;
  color: rgba(255,255,255,.5);
}
.map-nav-item:hover {
  color: #fff;
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
.card-cat {
  font-weight: bold;
}
.gm-style-iw div {
  border: none;
}
.list-container {
  max-height: 500px;
  overflow-y: scroll;
}
.card {
  max-height: 300px;
}
.multi-select {
  display: none;
}
.card-list {
  max-height: none;
}
